{% extends "base.html" %} 
{% load static %} 
{% block content %}

<div class="bg-secondary py-5" style="margin-top: 6.7%;position: relative ;">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Our Menu</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Choose Your Product Below...
      </p>
    </div>
  </div>
</div>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      {% for menu in menu %}
      {% if menu.is_sale%}
      <div class="col mb-5" style="border-red">
        <div class="card h-100" style="border-radius: 2rem">
          <!-- Product image-->
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Sale
          </div>
          <img class="card-img-top" src="{{ menu.image.url }}" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center" style="font-size: 15px">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ menu.Name }}</h5>
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              <strike> ${{ menu.Price }} </strike>
              &nbsp; ${{ menu.sale_price }}

              <br />
              {{ menu.Description }}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="{% url 'product' product.id %}"
                >View Product</a
              >
            </div>
          </div>
        </div>
      </div>

      {% else %}
      <div class="col mb-5">
        <div class="card h-100" style="border-radius: 2rem">
          <!-- Product image-->
          <img class="card-img-top" src="{{ menu.image.url }}" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center" style="font-size: 15px">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ menu.Name }}</h5>

              <!-- Product price-->
              ${{ menu.Price }}
              <br />
              {{ menu.Description }}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="{% url 'product' product.id %}"
                >View Product</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</section>
<footer>
  <ul class="social_icon">
    <li>
      <a href="https://www.facebook.com/mosap.mohammed.543?mibextid=LQQJ4d"
        ><i class="fa-brands fa-facebook"></i
      ></a>
    </li>
    <li>
      <a href="mailto:mosup.050@gmail.com"
        ><i class="fa-solid fa-envelope"></i
      ></a>
    </li>
    <li>
      <a href="https://instagram.com/3nksoryy?igshid=NTc4MTIwNjQ2YQ=="
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/Mosubmohammed"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
  </ul>
  <ul class="menu2">
    <li><a href="#home">Home</a></li>
    <li><a href="#Products">Products</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#menu">Menu</a></li>
    <li><a href="#review">Review</a></li>
    <!-- <li><a href="#">Order</a></li> -->
  </ul>
  <p>&copy;Yogurt store | All rights Reserved</p>
</footer>
{%endblock%}
