{% extends "base.html" %} {% load static %} `{% block content %}

<div class="container" style="margin-top: 11%;width:65%:font-size:25px;">
  <br />

  <div class="card mb-3" style="font-size:15px;border-color:hsl(207, 4%,75%)">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <center style="margin-top: 6%">
            <h5 class="card-title" style="font-size:16.5px">{{ product.Name }}</h5>
            <br />
            <p class="card-text justified">{{ product.Description }}</p>

            {% if product.is_sale %}
            <div class="d-flex justify-content-center small text-warning mb-2">
              <div class="bi-star-fill"></div>
              &nbsp;&nbsp;Sale!&nbsp;&nbsp;
              <div class="bi-star-fill"></div>
            </div>

            <!-- Product price-->
            <strike style="text-decoration: line-through"> ${{ product.Price }} </strike>
            &nbsp; ${{ product.sale_price }} {% else %} ${{ product.Price }} 
            {%endif %}
            <br /><br />
            <div class="row justify-content-center">
              <div class="col-md-2">Quantity:</div>
              <div class="col-md-2">
                <select class="form-select form-select-sm" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            <br /><br />
            <a href="{% url 'menu'%}" class="btn btn-secondary">Back</a>
            <button
              type="button"
              value="{{ product.id }}"
              class="btn btn-secondary"
              id="add-cart"
            >
              Add To Cart
            </button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br />
<footer>
  <ul class="social_icon">
    <li>
      <a href="https://www.facebook.com/mosap.mohammed.543?mibextid=LQQJ4d"
        ><i class="fa-brands fa-facebook"></i
      ></a>
    </li>
    <li>
      <a href="mailto:mosup.050@gmail.com"
        ><i class="fa-solid fa-envelope"></i
      ></a>
    </li>
    <li>
      <a href="https://instagram.com/3nksoryy?igshid=NTc4MTIwNjQ2YQ=="
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/Mosubmohammed"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
  </ul>
  <ul class="menu2" style="text-decoration: none;">
    <li><a style="text-decoration:none;font-weight: 600" href="{% url 'home'%}">Home</a></li>
    <li><a style="text-decoration:none;font-weight: 600" href="{% url 'about'%}">About</a></li>
    <li><a style="text-decoration:none;font-weight: 600" href="{% url 'menu'%}">Menu</a></li>
    
  </ul>
  <p>&copy;Yogurt store | All rights Reserved</p>
</footer>

<script>
  // Check if button pressed
$(document).on('click', '#add-cart', function(e){
      e.preventDefault();
      $.ajax({
          type: 'POST',
          url: '{% url 'cart_add' %}',
          data: {
      product_id: $('#add-cart').val(),
      product_qty: $('#qty-cart option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
          },

          success: function(json){
              //console.log(json)
              document.getElementById("cart_quantity").textContent = json.qty
              location.reload();
          },

          error: function(xhr, errmsg, err){

          }


      });



  })
</script>

{% endblock %}
